# SQL基礎

In [ ]:
# このセルはそのまま実行して、tdquiz コマンドをロードしてください。
# tdquiz コマンドはクエリを実行してその結果を返します。
%load_ext tdquiz

# tdquiz コマンドをテスト
%tdquiz SELECT USER, SESSION, CURRENT_TIMESTAMP

<h3>全ての店舗</h3>
<br>
<em>TeraShirt.store</em> テーブルには、TeraShirt社の店舗の情報が格納されています。
このテーブルに含まれるTeraShirt社の店舗情報を全て表示してください（出力は全ての列）。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT * FROM TeraShirt.store</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>デザイン担当の従業員</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">comparison-operator</span>
<br>
<em>TeraShirt.employee</em> テーブルには、TeraShirt社の従業員の情報が格納されています。
このうち、デザインを担当している従業員のID、姓、名を表示してください。
<details><summary>Hint</summary><em>role</em> 列を確認してください。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  employee_id,
  last_name,
  first_name
FROM
  TeraShirt.employee
WHERE
  "role" = 'デザイナー'</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>クーパーさんの部下
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">filter</span>
<br>
TeraShirt社の社員のうち、ブレンダ・クーパーさんの部下を抽出し、その名字と名前を出力してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  last_name, first_name
FROM
  TeraShirt.employee
WHERE
  report_to IN (
    SELECT employee_id FROM TeraShirt.employee WHERE first_name = 'ブレンダ' AND last_name = 'クーパー')</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>2022/01/01以降にオープンした店舗</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">comparison-operator</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span>
<br>
<em>TeraShirt.store</em> テーブルには、TeraShirt社の店舗の情報が格納されています。
2022/01/01以降にオープンした店舗について、その名前とオープン日を表示してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  name, open_date
FROM
  TeraShirt.store
WHERE
  open_date >= DATE'2022-01-01'</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>白または黒のTシャツ</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">logical-operator</span>
<br>
<em>TeraShirt.product</em> テーブルには、TeraShirt社の商品の情報が格納されています。
白または黒のTシャツの商品IDと商品名を表示してください。
<details><summary>Hint</summary>type列で商品の種類が分かります。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  product_id, name
FROM
  TeraShirt.product a
WHERE
  color IN ('black', 'white')
  AND "type" = 'tshirt'</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>誕生日が欠損している顧客</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">logical-operator</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">missing-value</span>
<br>
<em>TeraShirt.customer</em> テーブルには、TeraShirt社の顧客の情報が格納されています。
誕生日が欠損している顧客のID、姓、名を表示してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  customer_id,
  last_name,
  first_name
FROM
  TeraShirt.customer
WHERE
  birthday IS NULL</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>従業員の給与</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sort</span>
<br>
<em>TeraShirt.employee</em> テーブルには、TeraShirt社の従業員の情報が格納されています。
従業員のID、姓、名および給与を、給与の高い順に表示してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  employee_id,
  last_name,
  first_name,
  salary,
  RANK() OVER (ORDER BY salary DESC) AS "rank"
FROM
  TeraShirt.employee</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>従業員の年齢</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">arithmetic-operator</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">math</span>
<br>
<em>TeraShirt.employee</em> テーブルには、TeraShirt社の従業員の情報が格納されています。
従業員の誕生日から、現在の年齢を計算し、従業員のID、姓、名及び年齢を表示してください。
ただし、簡単化のため、ここでは<em>365日で1つ歳をとる</em>と仮定してください。
<details><summary>Hint</summary>年齢は誕生日と現在の日付の差分で求まります。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  employee_id
  ,last_name
  ,first_name
  ,(CURRENT_DATE - birthday) / 365 AS age
FROM
  TeraShirt.employee</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>売上の無い商品</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">logical-operator</span>
<br>
<em>TeraShirt.product</em> テーブルには、TeraShirt社の商品の情報が、
<em>TeraShirt.store_sales</em> テーブルには、売上の情報が格納されています。<br />
これらのテーブルを用いて、売上記録の無い商品が存在するか調べてください。
存在する場合は文字列の'YES'を出力し、存在しない場合は何も出力しないこと。
<details><summary>Hint</summary>売上が無いということは、その商品が <em>TeraShirt.store_sales</em> テーブルに表れないということです。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT DISTINCT
  'YES'
FROM
  TeraShirt.product
WHERE
  product_id NOT IN ( SELECT product_id FROM TeraShirt.store_sales)</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>6月に登録した顧客</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span>
<br>
<em>TeraShirt.customer</em> テーブルには、TeraShirt社の顧客の情報が格納されています。
このうち、6月に登録した顧客を表示してください。
出力内容は、顧客のID、姓、名及び登録日としてください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  customer_id,
  last_name,
  first_name,
  register_date
FROM
  TeraShirt.customer
WHERE
  register_date BETWEEN DATE'2021-06-01' AND DATE'2021-06-30'</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>店舗の都道府県名</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">string</span>
<br>
<em>TeraShirt.store</em> テーブルには、TeraShirt社の店舗の情報が格納されています。
店舗の都道府県名について、行政区画を表す「都」「道」「府」「県」を除いて表示してください。
出力は店舗の名前、及び行政区画を除いた都道府県名とすること。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  name, SUBSTRING(prefecture FROM 1 FOR LENGTH(prefecture)-1) AS prefecture
FROM
  TeraShirt.store</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>2021年12月に売り上げた商品</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">join</span>
<br>
<em>TeraShirt.store_sales</em> テーブルには、TeraShirt社の売上の情報が格納されています。
また <em>TeraShirt.product</em> テーブルには、TeraShirt社の商品の情報が格納されています。<br />
2021年12月に売り上げた商品について、売り上げた日時、顧客のID、商品のID及び商品名を表示してください。
<details><summary>Hint</summary>両方のテーブルに商品のIDが含まれています。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  s.purchase_timestamp, s.customer_id, s.product_id, p.name
FROM
  TeraShirt.store_sales AS s
  INNER JOIN TeraShirt.product AS p
    ON s.product_id = p.product_id
WHERE
  purchase_date BETWEEN DATE'2021-12-01' AND DATE'2021-12-31'</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>1989/08/10生まれの人</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">set-operator</span>
<br>
<em>TeraShirt.customer</em> テーブルには、TeraShirt社の顧客情報が、
また <em>TeraShirt.employee</em> テーブルには、TeraShirt社の従業員情報が格納されています。<br />
全ての顧客と従業員のうち、1989/08/10生まれの人の姓と名を表示してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  last_name, first_name
FROM
  TeraShirt.employee
WHERE
  birthday = DATE'1989-08-10'</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>上司ではない従業員</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">set-operator</span>
<br>
<em>TeraShirt.employee</em> テーブルには、TeraShirt社の従業員の情報が格納されています。
このうち、上司ではない従業員のID、姓、名を表示してください。
なお、クエリは集合演算子を用いて実行してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  employee_id, last_name, first_name
FROM
  TeraShirt.employee
WHERE
  employee_id NOT IN ( SELECT report_to FROM TeraShirt.employee )</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>30個以上売り上げた商品</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">aggregation</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">conditional-expression</span>
<br>
<em>TeraShirt.store_sales</em> テーブルには、TeraShirt社の売上の情報が格納されています。
商品の売上個数を集計し、合計30個以上売り上げた商品のIDと個数を表示してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  product_id, SUM(quantity) AS quantity
FROM
  terashirt.store_sales
GROUP BY 1
HAVING SUM(quantity) >= 30</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>商品単価の順位</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sort</span>
<br>
<em>TeraShirt.product</em> テーブルには、TeraShirt社の商品の情報が格納されています。
商品単価を高い順に順位付けし、商品名、単価及び順位を表示してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  name, standard_unit_price,
  RANK() OVER (ORDER BY standard_unit_price DESC)
FROM
  TeraShirt.product</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>役職ごとの給与の順位</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sort</span>
<br>
<em>TeraShirt.employee</em> テーブルには、TeraShirt社の従業員の情報が格納されています。
従業員の給与について、役職ごとに高い順で順位付けし、役職、姓、名、給与及び順位を表示してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  "role",
  last_name,
  first_name,
  salary,
  RANK() OVER (PARTITION BY "role" ORDER BY salary DESC) AS "rank"
FROM
  TeraShirt.employee</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>従業員のフルネーム</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">string</span>
<br>
<em>TeraShirt.employee</em> テーブルには、TeraShirt社の従業員の情報が格納されています。
従業員の姓と名を連結し、フルネームを表示してください。
ただし、姓と名の間に半角スペースを1個入れてください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  last_name || ' ' || first_name AS full_name
FROM
  TeraShirt.employee</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>商品の価格帯</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">comparison-operator</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">conditional-branch</span>
<br>
<em>TeraShirt.product</em> テーブルには、TeraShirt社の商品の情報が格納されています。
全ての商品について、単価をもとに'Low'、'Middle'、'High'という3つの価格帯へ分類してください。
出力内容は、商品名、単価及び価格帯としてください。
<ul>
  <li>1000未満：'Low'</li>
  <li>1000以上3000未満：'Middle'</li>
  <li>3000以上：'High'</li>
</ul>

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  name, standard_unit_price,
  CASE
    WHEN standard_unit_price < 1000 THEN 'Low'
    WHEN standard_unit_price < 3000 THEN 'Middle'
    WHEN standard_unit_price >= 3000 THEN 'High'
    ELSE NULL
  END AS price_range
FROM
  TeraShirt.product</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>顧客の誕生年</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">aggregation</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">conditional-branch</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span>
<br>
<em>TeraShirt.customer</em> テーブルには、TeraShirt社の顧客の情報が格納されています。
顧客の誕生年ごとに人数を集計し、誕生年と人数を表示してください。
ただし、誕生年が欠損している顧客については誕生年を9000としてください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  COALESCE(EXTRACT(year FROM birthday), 9000) AS birthyear,
  COUNT(*) AS num_customers
FROM
  Terashirt.customer
GROUP BY 1</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>最近登録した顧客</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sort</span>
<br>
<em>TeraShirt.customer</em> テーブルには、TeraShirt社の顧客の情報が格納されています。
登録日の新しい順に、最近登録した5人の顧客を表示してください。
出力内容は、姓、名及び登録日としてください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  last_name, first_name, register_date
FROM
  TeraShirt.customer
QUALIFY
  RANK() OVER (ORDER BY register_date DESC) <= 5
ORDER BY 3 DESC</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */