# データベース情報

In [ ]:
# このセルはそのまま実行して、tdquiz コマンドをロードしてください。
# tdquiz コマンドはクエリを実行してその結果を返します。
%load_ext tdquiz

# tdquiz コマンドをテスト
%tdquiz SELECT USER, SESSION, CURRENT_TIMESTAMP

<h3>Teradata セッション番号</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span>
<br>
Teradataデータベースへ接続すると、1つのセッション番号が割り振られます。そのセッション番号を表示してください。
<br />
セッション番号は、1つの整数値です。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT SESSION AS session_number</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>どのバージョンのTeradataか？</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span>
<br>
現在使用しているTeradataデータベースのバージョン番号を出力してください。

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT InfoData
FROM dbc.dbcinfo
WHERE InfoKey = 'VERSION'</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>テーブルの定義
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">ddl</span>
<br>
<em>japan.cities</em> のテーブル定義 (DDL) を表示してください。
<details><summary>Hint</summary><em>SHOW TABLE</em> 文を考えます。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SHOW TABLE japan.cities</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>ビューの定義
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">ddl</span>
<br>
<em>dbc.databasesV</em> のビュー定義 (DDL) を表示してください。
<details><summary>Hint</summary><em>SHOW VIEW</em> 文を考えます。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SHOW VIEW dbc.databasesV</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>クエリ実行計画</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">explain</span>
<br>
2021年の国民の祝日を出力するために、次のようなクエリを作成しました。
<pre class="sql-code">
SELECT
  calendar_date, holiday_name
FROM
  japan.japan_holidays
WHERE
  calendar_date BETWEEN DATE'2021-01-01' AND DATE'2021-12-31'
</pre>

このクエリの実行クエリを出力してください。
<details><summary>Hint</summary><em>EXPLAIN</em>文 を調べてみてください。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">EXPLAIN

SELECT
  calendar_date, holiday_name
FROM
  japan.japan_holidays
WHERE
  calendar_date BETWEEN DATE'2021-01-01' AND DATE'2021-12-31'</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>テーブルのディスク容量
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span>
<br>
<em>japan</em>, <em>TeraShirt</em> データベースに含まれる全てのテーブルについて、そのディスク容量を取得してください。
出力は、データベース名、テーブル名、ディスク容量の3列として、ディスク容量は MB単位で小数点第2位まで示してください。
なお、1MB = 1024*1024B とします。
<details><summary>Hint</summary>テーブル容量は、<em>DBC.TableSizeV</em> に保持されています。ただし、テーブルデータは複数のAMPに分散して保持されていて、情報がAMP単位となっていることに注意してください。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  databaseName, tableName,
  1.00*SUM(CurrentPerm) / 1024 / 1024 AS size_MB
FROM
  dbc.TableSizeV
WHERE
  databaseName IN ('japan' , 'TeraShirt')
GROUP BY 1, 2</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>テーブルデータの偏り (Skewness)
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">skewness</span>
<br>
テーブルデータは1つ以上のAMPに分散して保持されています。一般に、データが偏りなく均等に分散しているほど、計算処理の効率が良くなります。
Skewness は、データの偏りを表す指標で、次のように定義されます：

<pre>
Skewness = 1 - AMP容量の平均値 / AMP容量の最大値
</pre>

仮にすべてのAMPに同じ容量のデータが保持されていれば、平均値と最大値は一致するため、Skewness はゼロになります。
また、データが10個のAMPのうちの1つに集中している場合、平均値は最大値の1/10 になるため、Skewness は 0.9 となります。
なお、Skewnessは上の定義に100をかけてパーセント表記されることが多いです。

<em>TeraShirt.store</em> と <em>TeraShirt.store_sales</em> のSkewnessをパーセント表記で計算してください。
結果にはデータベース名、テーブル名、Skewnessを表示してください。

【Optional】また、Skewnessの値が一方のテーブルで高めに出るのか、考えてみてください。
<details><summary>Hint</summary>テーブル容量は、<em>DBC.TableSizeV</em> に保持されています。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  databaseName, tableName, 
  (1 - AVG(currentPerm) / MAX(currentPerm)) * 100 AS skewness
FROM
  dbc.TableSizeV
WHERE
  databaseName = 'terashirt' AND tableName IN ('store', 'store_sales')
GROUP BY 1,2</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */

<h3>データベースの残り容量
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">size</span>
<br>
<em>TeraShirt</em>, <em>japan</em> データベースについて、そのディスク容量の総量、すでに使われている容量、残ったスペースの割合 (%) を計算してください。
結果は データベース名、ディスク総容量 (MB), 使用済みディスク容量 (MB), 残ったスペースの割合 (%) の順に、それぞれ小数点以下第1位まで表示してください。
ここでは、1MB = 1024*1024B とします。
<details><summary>Hint</summary>データベースの容量は、<em>DBC.DiskSpaceV</em> に保持されています。</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  databaseName,
  SUM(1.0 * maxPerm)/1024/1024 AS total_space,
  SUM(1.0 * currentPerm)/1024/1024 AS used_space,
  (1 - SUM(1.000 * currentPerm)/SUM(1.000 * maxPerm)) * 100 AS remain_percent
FROM
  dbc.diskSpaceV
WHERE
  databaseName IN ('japan', 'TeraShirt')
GROUP BY 1</code></pre></details>

In [ ]:
%%tdquiz
/* クエリを下記に記載 */