# Math and Puzzle

In [ ]:
# Run this cell to load the tdquiz magic command, that runs queries and return the results.
%load_ext tdquiz

# Test tdquiz magic command
%tdquiz SELECT USER, SESSION, CURRENT_TIMESTAMP

<h3>Fibonacci sequence (recursive query)</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">recursive</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">math</span>
<br>
The Fibonacci sequence is defined as below:
<br />
F<sub>1</sub> = 1, F<sub>2</sub> = 1 and for n > 2,
<br />
F<sub>n+2</sub> = F<sub>n</sub> + F<sub>n+1</sub>
<br /><br />
I.e., the sum of the last two elements is the next number.
For example, F<sub>3</sub> = F<sub>2</sub> + F<sub>1</sub> = 1 + 1 = 2$, and F<sub>4</sub> = F<sub>3</sub> + F<sub>2</sub> = 2 + 1 = 3.
<br /><br />
Please generate the Fibonacci sequence from F<sub>1</sub> to F<sub>20</sub> (sort the result in the ascending order).
<br />
Although there are many ways to generate the Fibonacci numbers, please try generating them using the <em>WITH RECURSIVE</em> syntax.
<details><summary>Hint</summary>By describing the start data of WITH RECURSIVE as follows, it can be executed without referring to the existing table.<br />
<pre class="sql-code">
  select
    idx
    ,val1
    ,val2
    ,fibonacci_number
  from
    ( select
       1 as idx
      ,0(integer) as val1
      ,0(integer) as val2
      ,1(integer) as fibonacci_number
    ) as root
</pre></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">with recursive rec_tmp ( idx, val1, val2, fibonacci_number) as (
  select
    idx
    ,val1
    ,val2
    ,fibonacci_number
  from
    ( select
       1 as idx
      ,0(integer) as val1
      ,0(integer) as val2
      ,1(integer) as fibonacci_number
    ) as root
  union all
  select
    idx + 1 as idx
    ,val2
    ,fibonacci_number
    ,val2 + fibonacci_number
  from
    rec_tmp 
  where
    idx < 20
)
select fibonacci_number from
  rec_tmp;</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Pytagolas Theorem</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">geospatial</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">math</span>
<br>
Generate geometry objects representing the points (0,4) and (3,0), and calculate the distance between them.
Is it consistent with the Pythagorean Theorem?
<details><summary>Hint</summary><ul>
<li><a href="https://docs.teradata.com/r/Teradata-VantageTM-Geospatial-Data-Types/July-2021/ST_Geometry-Constructors-and-Methods/ST_Distance-Method" rel="noopener noreferrer" target="_blank">ST_DISTANCE (manual)</a>
<li><a href="https://en.wikipedia.org/wiki/Pythagorean_theorem" rel="noopener noreferrer" target="_blank">Pythagorean Theorem (Wikipedia)</a>
</ul></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">WITH tmp AS (
  SELECT
    NEW ST_Geometry('ST_Point', 0, 4) AS x,
    NEW ST_Geometry('ST_Point', 3, 0) AS y
)
SELECT x.ST_DISTANCE(y) AS len FROM tmp</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>When did "みどりの日 (Greenery Day)" change?</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">time-series</span>
<br>
<em>japan.japan_holidays</em> table stores the Japan's national holidays since 1955.
Among which, the date of "みどりの日 (Greenery day)" has been changed at some time.
Please find the years of the change and output a table of 2 rows and 2 columns, 
where the first column is the year (integer) and the second column is the date of Greenery day (string of MM/DD format).
<details><summary>Hint</summary><ul>
<li><a href="https://www8.cao.go.jp/chosei/shukujitsu/gaiyou.html" rel="noopener noreferrer" target="_blank">Data source (the Cabinet Office of Japan)</a>
</ul></details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">WITH tmp AS (
  SELECT
    EXTRACT(YEAR FROM calendar_date) AS "year",
    CAST(CAST(calendar_date AS FORMAT 'MM/DD') AS VARCHAR(5)) AS "date"
  FROM
    japan.japan_holidays
  WHERE
    holiday_name = 'みどりの日'
)
SELECT
  *
FROM
  tmp
QUALIFY
  LAG("date") OVER(ORDER BY "year") <> "date"
  OR LEAD("date") OVER(ORDER BY "year") <> "date"</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */