# SQL Basic

In [ ]:
# Run this cell to load the tdquiz magic command, that runs queries and return the results.
%load_ext tdquiz

# Test tdquiz magic command
%tdquiz SELECT USER, SESSION, CURRENT_TIMESTAMP

<h3>All stores</h3>
<br>
<em>TeraShirt.store</em> table stores the information of stores of the TeraShirt company.
Show the information of all stores of the TeraShirt company in that table (the output should contain all columns).

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT * FROM TeraShirt.store</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Employees in charge of designing</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">comparison-operator</span>
<br>
<em>TeraShirt.employee</em> table stores the information of employees in the TeraShirt company.
Show the ID, last name and first name of employees in charge of designing.
<details><summary>Hint</summary>Check the <em>role</em> column.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  employee_id,
  last_name,
  first_name
FROM
  TeraShirt.employee
WHERE
  "role" = 'デザイナー'</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Reporters
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">filter</span>
<br>
Find the TeraShirt employees who reports to "ブレンダ・クーパー", and display the last name and first name.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  last_name, first_name
FROM
  TeraShirt.employee
WHERE
  report_to IN (
    SELECT employee_id FROM TeraShirt.employee WHERE first_name = 'ブレンダ' AND last_name = 'クーパー')</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Stores opened on and after January 1st, 2022</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">comparison-operator</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span>
<br>
<em>TeraShirt.store</em> table stores the information of stores of the TeraShirt company.
Show the name and open date of stores opened on and after January 1st, 2022.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  name, open_date
FROM
  TeraShirt.store
WHERE
  open_date >= DATE'2022-01-01'</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>White or black t-shirts</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">logical-operator</span>
<br>
<em>TeraShirt.product</em> table stores the information of products of the TeraShirt company.
Show the product ID and name of white or black t-shirts.
<details><summary>Hint</summary>The <em>type</em> column shows the kind of products.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  product_id, name
FROM
  TeraShirt.product a
WHERE
  color IN ('black', 'white')
  AND "type" = 'tshirt'</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Customers without birthday</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">logical-operator</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">missing-value</span>
<br>
<em>TeraShirt.customer</em> table stores the information of customers of the TeraShirt company.
Show the ID, last name and first name of customers whose birthday is null.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  customer_id,
  last_name,
  first_name
FROM
  TeraShirt.customer
WHERE
  birthday IS NULL</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>The salary of employees</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sort</span>
<br>
<em>TeraShirt.employee</em> table stores the information of employees in the TeraShirt company.
Please display employees' ID, last name, first name and salary sorted by the salary in descending order.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  employee_id,
  last_name,
  first_name,
  salary,
  RANK() OVER (ORDER BY salary DESC) AS "rank"
FROM
  TeraShirt.employee</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>The age of employees</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">arithmetic-operator</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">math</span>
<br>
<em>TeraShirt.employee</em> table stores the information of employees in the TeraShirt company.
Calculate the current age of employees using the birthday and show the employee ID, last name, first name and age.
For simplicity, please assume that a person "gains one year in 365 days".
<details><summary>Hint</summary>You can calculate the age as the difference of the birthday and the current date.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  employee_id
  ,last_name
  ,first_name
  ,(CURRENT_DATE - birthday) / 365 AS age
FROM
  TeraShirt.employee</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>No sales products</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">logical-operator</span>
<br>
<em>TeraShirt.product</em> table stores the information of products of the TeraShirt company, and
<em>TeraShirt.store_sales</em> table stores the information of its sales.<br />
Using these tables, check whether there are products with no sales recorded.
If yes, the output should be the string 'YES'.
Otherwise the output should be nothing.
<details><summary>Hint</summary>No sales means that the product doesn't appear in <em>TeraShirt.store_sales</em> table.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT DISTINCT
  'YES'
FROM
  TeraShirt.product
WHERE
  product_id NOT IN ( SELECT product_id FROM TeraShirt.store_sales)</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Customers who registered in June</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span>
<br>
<em>TeraShirt.customer</em> table stores the information of customers of the TeraShirt company.
Show customers who registered in June.
The output should contain the customer ID, last name, first name and register date.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  customer_id,
  last_name,
  first_name,
  register_date
FROM
  TeraShirt.customer
WHERE
  register_date BETWEEN DATE'2021-06-01' AND DATE'2021-06-30'</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>The prefecture of stores</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">string</span>
<br>
<em>TeraShirt.store</em> table stores the information of stores of the TeraShirt company.
Show the prefecture of stores without '都', '道', '府' and '県' which represent the administrative district.
The output should be the store name and prefecture without the administrative district.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  name, SUBSTRING(prefecture FROM 1 FOR LENGTH(prefecture)-1) AS prefecture
FROM
  TeraShirt.store</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Sold products in December 2021</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">join</span>
<br>
<em>TeraShirt.store_sales</em> table stores the information of sales of the TeraShirt company.
<em>TeraShirt.product</em> table stores the information of products of the TeraShirt company.<br />
For sold products in December 2021, show the timestamp, customer ID, product ID and product name.
<details><summary>Hint</summary>Both tables include the product ID.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  s.purchase_timestamp, s.customer_id, s.product_id, p.name
FROM
  TeraShirt.store_sales AS s
  INNER JOIN TeraShirt.product AS p
    ON s.product_id = p.product_id
WHERE
  purchase_date BETWEEN DATE'2021-12-01' AND DATE'2021-12-31'</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Someone whose birthday is August 10th, 1989</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">set-operator</span>
<br>
<em>TeraShirt.customer</em> table stores the information of customers of the TeraShirt company, and
<em>TeraShirt.employee</em> table stores the information of its employees.<br />
Of all customers and employees, show the last name and first name of someone whose birthday is August 10th, 1989.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  last_name, first_name
FROM
  TeraShirt.employee
WHERE
  birthday = DATE'1989-08-10'</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Employees who are not the manager</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">set-operator</span>
<br>
<em>TeraShirt.employee</em> table stores the information of employees in the TeraShirt company.
Show the ID, last name and first name of employees who are not the manager.
When executing the query, please use the set operator.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  employee_id, last_name, first_name
FROM
  TeraShirt.employee
WHERE
  employee_id NOT IN ( SELECT report_to FROM TeraShirt.employee )</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Sold products of which the total quantity is 30 or more</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">aggregation</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">conditional-expression</span>
<br>
<em>TeraShirt.store_sales</em> table stores the information of sales of the TeraShirt company.
Aggregate the quantity of sold products and show the product ID and total quantity which is 30 or more.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  product_id, SUM(quantity) AS quantity
FROM
  terashirt.store_sales
GROUP BY 1
HAVING SUM(quantity) >= 30</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Ranking of the unit price of products</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sort</span>
<br>
<em>TeraShirt.product</em> table stores the information of products of the TeraShirt company.
Rank the unit price of products in descending order and show the product name, unit price and ranking.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  name, standard_unit_price,
  RANK() OVER (ORDER BY standard_unit_price DESC)
FROM
  TeraShirt.product</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Ranking of the salary by the role</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sort</span>
<br>
<em>TeraShirt.employee</em> table stores the information of employees in the TeraShirt company.
Rank the salary by the role in descending order and show the role, last name, first name, salary and ranking.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  "role",
  last_name,
  first_name,
  salary,
  RANK() OVER (PARTITION BY "role" ORDER BY salary DESC) AS "rank"
FROM
  TeraShirt.employee</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>The full name of employees</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">string</span>
<br>
<em>TeraShirt.employee</em> table stores the information of employees in the TeraShirt company.
Concatenate the last name and first name of employees and show the full name.
The output should contain a space between the last name and first name.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  last_name || ' ' || first_name AS full_name
FROM
  TeraShirt.employee</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>The price range of products</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">comparison-operator</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">conditional-branch</span>
<br>
<em>TeraShirt.product</em> table stores the information of products of the TeraShirt company.
Categorize products into 3 price ranges below based on the unit price.
The output should contain the product name, unit price and price range.
<ul>
  <li>less than 1000: 'Low'</li>
  <li>greater than or equal to 1000 and less than 3000: 'Middle'</li>
  <li>greater than or equal to 3000: 'High'</li>
</ul>

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  name, standard_unit_price,
  CASE
    WHEN standard_unit_price < 1000 THEN 'Low'
    WHEN standard_unit_price < 3000 THEN 'Middle'
    WHEN standard_unit_price >= 3000 THEN 'High'
    ELSE NULL
  END AS price_range
FROM
  TeraShirt.product</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>The birthyear of customers</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">aggregation</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">conditional-branch</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span>
<br>
<em>TeraShirt.customer</em> table stores the information of customers of the TeraShirt company.
Show the birthyear and the number of customers aggregated by the birthyear.
For customers whose birthyear is null, please assume that their birthyear is 9000.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  COALESCE(EXTRACT(year FROM birthday), 9000) AS birthyear,
  COUNT(*) AS num_customers
FROM
  Terashirt.customer
GROUP BY 1</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Customers who recently registered</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">date</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">sort</span>
<br>
<em>TeraShirt.customer</em> table stores the information of customers of the TeraShirt company.
Show latest 5 customers sorted by the register date in descending order.
The output should contain the last name, first name and register date.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  last_name, first_name, register_date
FROM
  TeraShirt.customer
QUALIFY
  RANK() OVER (ORDER BY register_date DESC) <= 5
ORDER BY 3 DESC</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */