# Database Information

In [ ]:
# Run this cell to load the tdquiz magic command, that runs queries and return the results.
%load_ext tdquiz

# Test tdquiz magic command
%tdquiz SELECT USER, SESSION, CURRENT_TIMESTAMP

<h3>Teradata Session Number</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span>
<br>
When you connect to the teradata database, you will be assigned a session number. <br/>
Show the session number of the current teradata database connection. <br/>
Note that the session number is a single integer value.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT SESSION AS session_number</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Which Version of Teradata am I using?</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span>
<br>
Show the version of Terdata database we are using.

<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT InfoData
FROM dbc.dbcinfo
WHERE InfoKey = 'VERSION'</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Table definition
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">ddl</span>
<br>
Show the definition of the <em>japan.cities</em> table.
<details><summary>Hint</summary>Think about <em>SHOW TABLE</em> syntax.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SHOW TABLE japan.cities</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>View definition
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">ddl</span>
<br>
Show the definition of the <em>dbc.databasesV</em> view.
<details><summary>Hint</summary>Think about <em>SHOW VIEW</em> syntax.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SHOW VIEW dbc.databasesV</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Query execution plan</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">explain</span>
<br>
We have written the following query to show all national holidays in 2021.
<pre class="sql-code">
SELECT
  calendar_date, holiday_name
FROM
  japan.japan_holidays
WHERE
  calendar_date BETWEEN DATE'2021-01-01' AND DATE'2021-12-31'
</pre>

Please show the execution plan of this query.
<details><summary>Hint</summary>Check <em>EXPLAIN</em> syntax.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">EXPLAIN

SELECT
  calendar_date, holiday_name
FROM
  japan.japan_holidays
WHERE
  calendar_date BETWEEN DATE'2021-01-01' AND DATE'2021-12-31'</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Disk space of the tables
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span>
<br>
Calculate the disk space sizes of all tables in <em>japan</em> and <em>TeraShirt</em> databases.
Show three columns: database name, table name, and disk space (in MB up to the second decimal point).
Assume that 1MB = 1024*1024B.
<details><summary>Hint</summary>Disk spaces are stored in <em>DBC.TableSizeV</em>. Note that the table data are stored in multiple clusters and the space information is per cluster basis.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  databaseName, tableName,
  1.00*SUM(CurrentPerm) / 1024 / 1024 AS size_MB
FROM
  dbc.TableSizeV
WHERE
  databaseName IN ('japan' , 'TeraShirt')
GROUP BY 1, 2</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Skewness of table data
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">skewness</span>
<br>
Table data are distributed across clusters in the teradata system.
In general, the computation becomes efficient when data are distributed uniformly.
The skewness is a measure that represents the degree of data concentration.

<pre>
Skewness = 1 - Average size across AMPs / Maximum size among AMPs
</pre>

If all AMPs have the equal size of data, then the average equals the maximum, and hence the skewness is zero.
If data are concentrated to one of ten AMPs, then the average will become 1/10 of the maximum, so the skewness is 0.9.
Note that skewness is often shown in percent scale, which is the above definition multiplied by 100.

Calculate the skewness of <em>TeraShirt.store</em> and <em>TeraShirt.store_sales</em> in percent scale.
Include database name, table name and skewness in the result set.

[Optional] Think about why the skewness is larger for one of the tables.
<details><summary>Hint</summary>Disk spaces are stored in <em>DBC.TableSizeV</em>.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  databaseName, tableName, 
  (1 - AVG(currentPerm) / MAX(currentPerm)) * 100 AS skewness
FROM
  dbc.TableSizeV
WHERE
  databaseName = 'terashirt' AND tableName IN ('store', 'store_sales')
GROUP BY 1,2</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */

<h3>Remaining space in the database
</h3><span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">teradata-specific</span> <span class="tag" style="font-size: smaller; background-color: #dddddd; color: #222222">size</span>
<br>
Calculate the total space, the used space, and the fraction of remaining space of <em>TeraShirt</em> and <em>japan</em> databases.
Show the database name, total space in MB, used space in MB, and the fraction of remaining space (%) in the result set, all columns up to the first decimap space.
Assume that 1MB = 1024*1024B.
<details><summary>Hint</summary>Disk spaces of databases are stored in <em>DBC.DiskSpaceV</em>.</details>
<details><summary>Answer</summary><pre style="margin: 1em 0; padding: 1em; border-radius: 5px; background-color: #25292f; white-space: pre-wrap;"><code style="background-color: #25292f; color: #ffffff">SELECT
  databaseName,
  SUM(1.0 * maxPerm)/1024/1024 AS total_space,
  SUM(1.0 * currentPerm)/1024/1024 AS used_space,
  (1 - SUM(1.000 * currentPerm)/SUM(1.000 * maxPerm)) * 100 AS remain_percent
FROM
  dbc.diskSpaceV
WHERE
  databaseName IN ('japan', 'TeraShirt')
GROUP BY 1</code></pre></details>

In [ ]:
%%tdquiz
/* Write your query blow */