# 学習済みLighGBM モデルの利用 (Teradata Bring-Your-Own-Model)

- このノートブックでは、Bring-Your-Own-Model (BYOM) の機能を用いて、LightGBMで作成した機械学習モデルをTeradataへインポートして推論に利用します
- データには、カリフォルニア州の住宅価格データを利用します

## ステップ
1. ローカル環境でLightGBMモデルを学習
2. [nyoka](https://github.com/SoftwareAG/nyoka) ライブラリによってPMML形式でエクスポート
3. PMMLファイルをTeradataへインストール
4. PMMLモデルをTeradata上のデータに適用し、予測値を計算

In [ ]:
%pip install pandas "sqlalchemy<2" ipython-sql teradataml scikit-learn matplotlib nyoka lightgbm "dask>2023.3.2" "distributed>2023.3.2"
# lightgbm との互換性のため、dask のバージョンを指定 (https://github.com/microsoft/LightGBM/issues/5739#issuecomment-1500809138)
# teradatasqlalchemy との互換性のため、 sqlalchemy ver.1 を利用

import warnings
warnings.simplefilter("ignore", (FutureWarning, DeprecationWarning))
# pandas, teradataml の警告を非表示にして見やすくするため設定
# 実行結果には影響しない

In [2]:
# 接続情報
from getpass import getpass
from urllib.parse import quote_plus

host = "host.docker.internal"
user = "demo_user"
database = "demo_user"
password = getpass("Password > ")
dbs_port = 1025
encryptdata = "true"

connstr = (
  f"teradatasql://{user}:{quote_plus(password)}@{host}/?"
  f"&database={database}"
  f"&dbs_port={dbs_port}"
  f"&encryptdata={encryptdata}"
)

%load_ext sql
%config SqlMagic.autopandas=True
%sql {connstr}

# 接続確認
%sql SELECT database, current_timestamp

Password >  ········

 * teradatasql://demo_user:***@host.docker.internal/?database=demo_user&dbs_port=1025&encryptdata=true
1 rows affected.

    Database             Current TimeStamp(6)
0  DEMO_USER 2024-04-04 08:19:37.870000-04:00

In [3]:
# teradataml のコンテキストを開始
from sqlalchemy import create_engine
from teradataml import create_context, DataFrame
engine = create_engine(connstr)
context = create_context(tdsqlengine=engine, temp_database_name=user)

# 接続確認
DataFrame('"dbc"."dbcInfoV"')

                          InfoData
InfoKey
RELEASE                17.20.03.23
LANGUAGE SUPPORT MODE     Standard
VERSION                17.20.03.23

## データの準備

例として、scikit-learnライブラリで提供されている住宅価格予測データを用います。

In [4]:
from sklearn.datasets import fetch_california_housing

data = fetch_california_housing(as_frame=True)
df = data["data"]
df.insert(0, "target", data["target"])
display(df)

# teradata へデータをロード
from teradataml import copy_to_sql
copy_to_sql(df, "housing", if_exists="replace", index=True)

# test
DataFrame("housing")

,target,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,4.526,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,3.585,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,3.521,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,3.413,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.422,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...,...
20635,0.781,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,0.771,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,0.923,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,0.847,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,0.894,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

   target  MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  Longitude  index_label
0   3.521  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85    -122.24            2
1   3.422  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85    -122.25            4
2   2.697  4.0368      52.0  4.761658   1.103627       413.0  2.139896     37.85    -122.25            5
3   2.992  3.6591      52.0  4.931907   0.951362      1094.0  2.128405     37.84    -122.25            6
4   2.267  2.0804      42.0  4.294118   1.117647      1206.0  2.026891     37.84    -122.26            8
5   2.611  3.6912      52.0  4.970588   0.990196      1551.0  2.172269     37.84    -122.25            9
6   2.414  3.1200      52.0  4.797527   1.061824      1157.0  1.788253     37.84    -122.25            7
7   3.413  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85    -122.25            3
8   3.585  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86    -122.22            1
9   4.526  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88    -122.23            0

### 学習・テストデータに分割

index_labelは意味を持たない整数値なので、このの剰余を用いて分割することで再現性を担保します。

In [5]:
df = DataFrame("housing")
df_tr = df[df.index_label.mod(5) > 0]
df_te = df[df.index_label.mod(5) == 0]

copy_to_sql(df_tr, "housing_tr", if_exists="replace")
copy_to_sql(df_te, "housing_te", if_exists="replace")

# 確認
x_tr = DataFrame("housing_tr")
x_te = DataFrame("housing_te")
print(x_tr.shape)
print(x_te.shape)
display(x_tr)
display(x_te)

(16512, 10)
(4128, 10)

   target  MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  Longitude  index_label
0   3.413  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85    -122.25            3
1   2.992  3.6591      52.0  4.931907   0.951362      1094.0  2.128405     37.84    -122.25            6
2   2.414  3.1200      52.0  4.797527   1.061824      1157.0  1.788253     37.84    -122.25            7
3   2.267  2.0804      42.0  4.294118   1.117647      1206.0  2.026891     37.84    -122.26            8
4   2.418  3.2705      52.0  4.772480   1.024523      1504.0  2.049046     37.85    -122.26           11
5   2.135  3.0750      52.0  5.322650   1.012821      1098.0  2.346154     37.85    -122.26           12
6   2.611  3.6912      52.0  4.970588   0.990196      1551.0  2.172269     37.84    -122.25            9
7   3.422  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85    -122.25            4
8   3.521  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85    -122.24            2
9   3.585  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86    -122.22            1

   target  MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  Longitude  index_label
0   1.621  2.8167      35.0  6.459649   1.052632       783.0  2.747368     38.00    -121.22        16395
1   1.250  3.3882      44.0  7.325301   1.301205       287.0  3.457831     38.02    -121.20        16405
2   1.500  1.1250      20.0  5.469388   1.591837        77.0  1.571429     37.94    -121.23        16410
3   1.583  3.1719      42.0  5.000000   1.000000       256.0  2.752688     37.88    -121.26        16415
4   1.235  2.2619      13.0  5.099042   1.142173      1768.0  2.824281     38.13    -121.47        16425
5   1.472  5.5057      32.0  6.007042   1.028169       923.0  3.250000     38.09    -121.35        16430
6   4.526  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88    -122.23            0
7   2.697  4.0368      52.0  4.761658   1.103627       413.0  2.139896     37.85    -122.25            5
8   2.815  3.2031      52.0  5.477612   1.079602       910.0  2.263682     37.85    -122.26           10
9   1.400  2.1250      50.0  4.242424   1.071970       697.0  2.640152     37.85    -122.26           15

## LightGBMモデルの学習

外部環境（Jupyter上）でモデル学習を行います。

In [6]:
from lightgbm import LGBMRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler

model = Pipeline([
  ("scale", MinMaxScaler()),
  ("lgbm", LGBMRegressor(n_estimators=120, max_depth=7))
])

# データをローカルへ抽出
tmp = df_tr.to_pandas()
X_tr = tmp.drop(columns=["index_label", "target"])
X_tr.index = tmp.index_label
Y_tr = tmp.target
model.fit(X_tr, Y_tr)

[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002053 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1837
[LightGBM] [Info] Number of data points in the train set: 16512, number of used features: 8
[LightGBM] [Info] Start training from score 2.067297

Pipeline(steps=[('scale', MinMaxScaler()),
                ('lgbm', LGBMRegressor(max_depth=7, n_estimators=120))])

In [7]:
# 学習データ、テストデータでのパフォーマンスを確認
# チューニングは割愛
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

def evaluate_model(model, x, y):
  pred = model.predict(x)
  mae = mean_absolute_error(y, pred)
  mse = mean_squared_error(y, pred)
  r2 = r2_score(y, pred)
  print(f"Mean absolute error: {mae}")
  print(f"Mean squared error : {mse}")
  print(f"R2                 : {r2}")

print("Training score *****")
evaluate_model(model, X_tr, Y_tr)
print("******")

# テストデータをローカルへ抽出
tmp = x_te.to_pandas()
X_te = tmp.drop(columns=["index_label", "target"])
X_te.index = tmp.index_label
Y_te = tmp.target
print("Test score *****")
evaluate_model(model, X_te, Y_te)
print("******")

Training score *****
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
Mean absolute error: 0.2676825771509856
Mean squared error : 0.15337203578550618
R2                 : 0.8846605938735113
******
Test score *****
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
Mean absolute error: 0.3018022034796184
Mean squared error : 0.2063706584084526
R2                 : 0.8458469125219761
******

## LightGBMモデルをTeradataへインポート

### LightGBMモデルをPMMLに書き出し

- PMML (Predictive Model Markup Language) は統計モデルを表現するテキストベースの標準形式です
- `nyoka` ライブラリの `lgb_to_pmml` を用いて、学習した lightgbm モデルをPMMLに書き出すことができます

In [ ]:
from nyoka import lgb_to_pmml

feature_names = X_tr.columns
target_name = "target"
filename = "housing_lgbm.pmml"
lgb_to_pmml(model, feature_names, target_name, filename)

In [ ]:
# 出力したファイルの内容の冒頭を確認
!head -n15 {filename}

### PMMLをTeradataへインポート

In [ ]:
import sys
from teradataml import save_byom, delete_byom

# すでに同IDのモデルがある場合は前もって削除
try:
  delete_byom(model_id="housing_lgbm", table_name="housing_models")
except Exception as e:
  print(f"{e}", file=sys.stderr)
    
save_byom(model_id="housing_lgbm", model_file=filename, table_name="housing_models")

In [ ]:
# モデル確認
# BYOMモデルはテーブルの１行として保持される
%sql SELECT * FROM housing_models

## LightGBMモデルを用いてTeradata上で予測

In [ ]:
from teradataml import PMMLPredict, retrieve_byom
import teradataml

teradataml.configure.byom_install_location = "mldb"
# Bring-Your-Own-Model 関数の場所を指定
# 実際の環境により変化することがある

# 予測に使うテーブルとモデルオブジェクト
newdata = DataFrame("housing_te")  # 予測に用いるテーブル。このモデルは列名で必要な変数を判断するので余計な列があっても良い
modeldata = retrieve_byom(model_id="housing_lgbm", table_name="housing_models")  # 予測モデルに対応する行

# PMMLモデルによる予測の実行
out = PMMLPredict(
  newdata=newdata,
  modeldata=modeldata,
  accumulate=["index_label"]
)

out.result

なお、`teradataml.configure.byom_install_location` を何に設定するのかわからない場合、次のクエリで関数の場所を探すことができます。

In [ ]:
%sql SELECT databaseName, tableName, tableKind FROM dbc.tablesV WHERE tableName LIKE '%PMML%'

上の結果、`PMMLPredict`関数は `mldb`データベースに存在することがわかりました。
この場合は `teradataml.configure.byom_install_location = "mldb"` と設定すれば大丈夫です。

### ローカル環境での予測結果と比較

In [ ]:
import pandas as pd
pred_local = model.predict(X_te)
pred_local = pd.DataFrame({"predict_local": pred_local})
pred_local.index = X_te.index
pred_local = pred_local.reset_index()
display(pred_local)

pred_td = out.result.to_pandas().rename(columns={"prediction":"predict_td"})
pred_td.predict_td = pred_td.predict_td.astype(float)
pred_td

In [ ]:
pred_df = pd.merge(pred_local, pred_td)
pred_df

In [ ]:
# 同じ推論値が得られていることを確認
import matplotlib.pyplot as plt
import numpy as np

fig, ax = plt.subplots(figsize=(7, 4))
print(f"Max deviation: {(pred_df.predict_local - pred_df.predict_td).abs().max()}")
print(f"Correlation: {np.corrcoef(pred_df.predict_local, pred_df.predict_td)[0,1]}")
ax.scatter(pred_df.predict_local, pred_df.predict_td, alpha=.2)
ax.set_xlabel("Local prediction")
ax.set_ylabel("BYOM prediction")

deviation = (pred_df.predict_local - pred_df.predict_td)
fig, ax = plt.subplots(figsize=(7, 4))
ax.hist(deviation, bins=30)
pd.DataFrame({"abs_diff": np.abs(deviation)}).describe()