# Geospatial functionality exercise with Vantage

実行環境の構築方法例（Anaconda/minicondaを使う場合）：

```shell
conda create -n gis -y -c anaconda -c conda-forge pip jupyter geopandas ipython-sql sqlalchemy
conda activate gis
pip install teradataml
```

In [1]:
# 認証情報の入力

from getpass import getpass

host = "tdprd2.td.teradata.com"  # aws
user = input("QID > ")
password = getpass("Login password > ")

QID > km255052
Login password > ········

In [2]:
# 接続確認
%load_ext sql
%config SqlMagic.autopandas=True

constr = "teradatasql://{user}:{password}@{host}/?logmech=LDAP".format(host=host, user=user, password=password)
%sql {constr}

#test
x = %sql SELECT database
display(x)

#test
x = %sql SELECT * FROM dbc.dbcInfoV
display(x)

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

   Database
0  KM255052

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
3 rows affected.

                 InfoKey     InfoData
0                VERSION  17.05.02.01
1  LANGUAGE SUPPORT MODE     Standard
2                RELEASE  17.05.02.01

In [8]:
# download data
import os
from urllib.request import urlopen
import shutil

def download_if_not_exists(url, filename):
  if os.path.isfile(filename):
    print("{} already exists".format(filename))
    return
  os.makedirs(os.path.dirname(filename), exist_ok=True)
  obj = urlopen(url)
  with open(filename, "wb") as f:
    %time shutil.copyfileobj(obj, f)

download_if_not_exists("https://nlftp.mlit.go.jp/ksj/gml/data/N05/N05-19/N05-19_GML.zip", 
                       "gis/railway.zip")
download_if_not_exists("https://nlftp.mlit.go.jp/ksj/gml/data/N03/N03-2020/N03-20200101_GML.zip", 
                       "gis/cities.zip")

CPU times: user 89.4 ms, sys: 138 ms, total: 228 ms
Wall time: 15.5 s
CPU times: user 1.78 s, sys: 2.83 s, total: 4.61 s
Wall time: 5min 8s

In [9]:
# unzip the downloaded files
from zipfile import ZipFile

def unzip(filename, directory):
  with ZipFile(filename) as z:
    %time z.extractall(path=directory)

unzip("gis/railway.zip", "gis/railway")
unzip("gis/cities.zip", "gis/cities")

CPU times: user 334 ms, sys: 47.6 ms, total: 381 ms
Wall time: 382 ms
CPU times: user 6.05 s, sys: 745 ms, total: 6.8 s
Wall time: 6.87 s

In [3]:
# geopandas で読込み
import geopandas as gpd

%time railways = gpd.read_file("gis/railway/N05-19_RailroadSection2.shp", encoding="cp932")
%time stations = gpd.read_file("gis/railway/N05-19_Station2.shp", encoding="cp932")
%time cities = gpd.read_file("gis/cities/N03-20_200101.shp", encoding="cp932")

print(railways.shape)
display(railways.head())

print(stations.shape)
display(stations.head())

print(cities.shape)
display(cities.head())

CPU times: user 347 ms, sys: 20.6 ms, total: 367 ms
Wall time: 428 ms
CPU times: user 1.18 s, sys: 23.9 ms, total: 1.2 s
Wall time: 1.22 s
CPU times: user 12.1 s, sys: 376 ms, total: 12.4 s
Wall time: 12.5 s
(2576, 12)

,N05_001,N05_002,N05_003,N05_004,N05_005b,N05_005e,N05_006,N05_007,N05_008,N05_009,N05_010,geometry
0,2,函館線,北海道旅客鉄道（旧国鉄）,1880,1950,1968,EB02_11218,None,None,None,None,"LINESTRING (140.72649 41.77398, 140.72655 41.7..."
1,2,函館線,北海道旅客鉄道（旧国鉄）,1880,1950,1968,EB02_11218,None,None,None,None,"LINESTRING (140.58803 42.10630, 140.58861 42.1..."
2,2,函館線,北海道旅客鉄道（旧国鉄）,1880,1969,9999,EB02_11218,None,None,None,None,"LINESTRING (140.72649 41.77398, 140.72655 41.7..."
3,2,函館線,北海道旅客鉄道（旧国鉄）,1880,1969,9999,EB02_11218,None,None,None,None,"LINESTRING (140.58803 42.10630, 140.58861 42.1..."
4,2,江差線,北海道旅客鉄道（旧国鉄）,1913,1950,2013,EB02_11219,None,None,None,None,"LINESTRING (140.12797 41.85666, 140.12805 41.8..."

(23505, 12)

,N05_001,N05_002,N05_003,N05_004,N05_005b,N05_005e,N05_006,N05_007,N05_008,N05_009,N05_011,geometry
0,2,函館線,北海道旅客鉄道（旧国鉄）,1898,1950,9999,EB03_11218106,None,None,None,旭川,POINT (142.35792 43.76344)
1,2,函館線,北海道旅客鉄道（旧国鉄）,1898,1950,9999,EB03_11218099,None,None,None,妹背牛,POINT (141.96665 43.69096)
2,2,函館線,北海道旅客鉄道（旧国鉄）,1898,1950,9999,EB03_11218103,None,None,None,伊納,POINT (142.27170 43.76320)
3,2,函館線,北海道旅客鉄道（旧国鉄）,1898,1950,9999,EB03_11218100,None,None,None,深川,POINT (142.04145 43.72125)
4,2,函館線,北海道旅客鉄道（旧国鉄）,1911,1950,9999,EB03_11218105,None,None,None,近文,POINT (142.32534 43.78933)

(118899, 6)

,N03_001,N03_002,N03_003,N03_004,N03_007,geometry
0,北海道,石狩振興局,札幌市,中央区,01101,"POLYGON ((141.25743 42.99782, 141.25724 42.997..."
1,北海道,石狩振興局,札幌市,北区,01102,"POLYGON ((141.33333 43.07497, 141.33331 43.075..."
2,北海道,石狩振興局,札幌市,東区,01103,"POLYGON ((141.37500 43.06851, 141.37370 43.068..."
3,北海道,石狩振興局,札幌市,白石区,01104,"POLYGON ((141.36645 43.05797, 141.36665 43.058..."
4,北海道,石狩振興局,札幌市,豊平区,01105,"POLYGON ((141.36365 42.94124, 141.36366 42.941..."

In [4]:
# geometry -> wkt
from shapely import wkt
def geometry_to_wkt(x):
  %time x["wkt"] = [g.wkt for g in x.geometry]
  return x

railways = geometry_to_wkt(railways)
stations = geometry_to_wkt(stations)
cities = geometry_to_wkt(cities)

display(railways.head())
display(stations.head())
display(cities.head())

CPU times: user 1.99 s, sys: 28.6 ms, total: 2.02 s
Wall time: 2.05 s
CPU times: user 625 ms, sys: 5.74 ms, total: 631 ms
Wall time: 641 ms
CPU times: user 22.8 s, sys: 114 ms, total: 23 s
Wall time: 23 s

,N05_001,N05_002,N05_003,N05_004,N05_005b,N05_005e,N05_006,N05_007,N05_008,N05_009,N05_010,geometry,wkt
0,2,函館線,北海道旅客鉄道（旧国鉄）,1880,1950,1968,EB02_11218,None,None,None,None,"LINESTRING (140.72649 41.77398, 140.72655 41.7...","LINESTRING (140.726488 41.773982, 140.72655 41..."
1,2,函館線,北海道旅客鉄道（旧国鉄）,1880,1950,1968,EB02_11218,None,None,None,None,"LINESTRING (140.58803 42.10630, 140.58861 42.1...","LINESTRING (140.58803 42.1063, 140.58861 42.10..."
2,2,函館線,北海道旅客鉄道（旧国鉄）,1880,1969,9999,EB02_11218,None,None,None,None,"LINESTRING (140.72649 41.77398, 140.72655 41.7...","LINESTRING (140.726488 41.773982, 140.72655 41..."
3,2,函館線,北海道旅客鉄道（旧国鉄）,1880,1969,9999,EB02_11218,None,None,None,None,"LINESTRING (140.58803 42.10630, 140.58861 42.1...","LINESTRING (140.58803 42.1063, 140.58861 42.10..."
4,2,江差線,北海道旅客鉄道（旧国鉄）,1913,1950,2013,EB02_11219,None,None,None,None,"LINESTRING (140.12797 41.85666, 140.12805 41.8...","LINESTRING (140.127975 41.85666, 140.12805 41...."

,N05_001,N05_002,N05_003,N05_004,N05_005b,N05_005e,N05_006,N05_007,N05_008,N05_009,N05_011,geometry,wkt
0,2,函館線,北海道旅客鉄道（旧国鉄）,1898,1950,9999,EB03_11218106,None,None,None,旭川,POINT (142.35792 43.76344),POINT (142.35792 43.76344)
1,2,函館線,北海道旅客鉄道（旧国鉄）,1898,1950,9999,EB03_11218099,None,None,None,妹背牛,POINT (141.96665 43.69096),POINT (141.96665 43.690955)
2,2,函館線,北海道旅客鉄道（旧国鉄）,1898,1950,9999,EB03_11218103,None,None,None,伊納,POINT (142.27170 43.76320),POINT (142.2717 43.763205)
3,2,函館線,北海道旅客鉄道（旧国鉄）,1898,1950,9999,EB03_11218100,None,None,None,深川,POINT (142.04145 43.72125),POINT (142.04145 43.721251)
4,2,函館線,北海道旅客鉄道（旧国鉄）,1911,1950,9999,EB03_11218105,None,None,None,近文,POINT (142.32534 43.78933),POINT (142.325344 43.789326)

,N03_001,N03_002,N03_003,N03_004,N03_007,geometry,wkt
0,北海道,石狩振興局,札幌市,中央区,01101,"POLYGON ((141.25743 42.99782, 141.25724 42.997...","POLYGON ((141.25743139 42.99781611, 141.257244..."
1,北海道,石狩振興局,札幌市,北区,01102,"POLYGON ((141.33333 43.07497, 141.33331 43.075...","POLYGON ((141.33333333 43.07497131, 141.333305..."
2,北海道,石狩振興局,札幌市,東区,01103,"POLYGON ((141.37500 43.06851, 141.37370 43.068...","POLYGON ((141.375 43.06851347000001, 141.37370..."
3,北海道,石狩振興局,札幌市,白石区,01104,"POLYGON ((141.36645 43.05797, 141.36665 43.058...","POLYGON ((141.36644555 43.05796861, 141.366648..."
4,北海道,石狩振興局,札幌市,豊平区,01105,"POLYGON ((141.36365 42.94124, 141.36366 42.941...","POLYGON ((141.36365455 42.9412422, 141.3636648..."

In [5]:
# rename and select necessary columns
cols = {'N05_002':"line", 'N05_003':"company", 'N05_005e':"endyear", 'wkt':"wkt"}
railways2 = railways[cols].rename(columns=cols)

cols = {'N05_002':"line", 'N05_003':"company", 'N05_005e':"endyear", 
        'N05_011':"station", 'wkt':"wkt"}
stations2 = stations[cols].rename(columns=cols)

cols = {'N03_001':"pref", 'N03_002':"kyoku", 'N03_003':"seirei_gun",
        'N03_004':"name", 'N03_007':"code", 'wkt':"wkt"}
cities2 = cities[cols].rename(columns=cols)

display(railways2.head())
display(stations2.head())
display(cities2.head())

,line,company,endyear,wkt
0,函館線,北海道旅客鉄道（旧国鉄）,1968,"LINESTRING (140.726488 41.773982, 140.72655 41..."
1,函館線,北海道旅客鉄道（旧国鉄）,1968,"LINESTRING (140.58803 42.1063, 140.58861 42.10..."
2,函館線,北海道旅客鉄道（旧国鉄）,9999,"LINESTRING (140.726488 41.773982, 140.72655 41..."
3,函館線,北海道旅客鉄道（旧国鉄）,9999,"LINESTRING (140.58803 42.1063, 140.58861 42.10..."
4,江差線,北海道旅客鉄道（旧国鉄）,2013,"LINESTRING (140.127975 41.85666, 140.12805 41...."

  line       company endyear station                           wkt
0  函館線  北海道旅客鉄道（旧国鉄）    9999      旭川    POINT (142.35792 43.76344)
1  函館線  北海道旅客鉄道（旧国鉄）    9999     妹背牛   POINT (141.96665 43.690955)
2  函館線  北海道旅客鉄道（旧国鉄）    9999      伊納    POINT (142.2717 43.763205)
3  函館線  北海道旅客鉄道（旧国鉄）    9999      深川   POINT (142.04145 43.721251)
4  函館線  北海道旅客鉄道（旧国鉄）    9999      近文  POINT (142.325344 43.789326)

,pref,kyoku,seirei_gun,name,code,wkt
0,北海道,石狩振興局,札幌市,中央区,01101,"POLYGON ((141.25743139 42.99781611, 141.257244..."
1,北海道,石狩振興局,札幌市,北区,01102,"POLYGON ((141.33333333 43.07497131, 141.333305..."
2,北海道,石狩振興局,札幌市,東区,01103,"POLYGON ((141.375 43.06851347000001, 141.37370..."
3,北海道,石狩振興局,札幌市,白石区,01104,"POLYGON ((141.36644555 43.05796861, 141.366648..."
4,北海道,石狩振興局,札幌市,豊平区,01105,"POLYGON ((141.36365455 42.9412422, 141.3636648..."

In [6]:
# filter rows to avoid no-more-space error

# 現存する路線のみ
flg1 = (railways2.endyear == "9999")
# 新幹線と山手線のみ
flg2 = (railways2.line == "山手線") & railways2.company.str.contains("東日本旅客鉄道")
flg3 = railways2.line.str.contains("新幹線")
railways3 = railways2[flg1 & (flg2 | flg3)].reset_index(drop=True)
print(railways3.shape)
display(railways3)

# 現存する路線のみ
flg1 = (stations2.endyear == "9999")
stations3 = stations2[flg1].reset_index(drop=True)
print(stations3.shape)
display(stations3)
# 山手線の駅が足りないが、今回は無視
display(stations3[stations3.line.str.contains("山手")])

# 村と23区のみ
flg1 = (cities2.name.str.endswith("区") & cities2.pref.str.contains("東京"))
flg2 = cities2.name.str.endswith("村")
cities3 = cities2[flg1 | flg2].reset_index(drop=True)
print(cities3.shape)
display(cities3)
display(cities3[cities3.pref.str.contains("東京")])

(10, 4)

,line,company,endyear,wkt
0,東北新幹線,東日本旅客鉄道（旧国鉄）,9999,"LINESTRING (139.768108 35.681098, 139.76807 35..."
1,上越新幹線,東日本旅客鉄道（旧国鉄）,9999,"LINESTRING (139.061745 37.912005, 139.05937 37..."
2,山手線,東日本旅客鉄道（旧国鉄）,9999,"LINESTRING (139.738845 35.628141, 139.738896 3..."
3,九州新幹線,九州旅客鉄道（旧国鉄）,9999,"LINESTRING (130.421175 33.589575, 130.42108 33..."
4,東海道新幹線,東海旅客鉄道（旧国鉄）,9999,"LINESTRING (135.500035 34.73368, 135.50225 34...."
5,山陽新幹線,西日本旅客鉄道（旧国鉄）,9999,"LINESTRING (130.421175 33.589575, 130.42127 33..."
6,北陸新幹線,東日本旅客鉄道（旧国鉄）,9999,"LINESTRING (138.19025 36.64375, 138.19073342 3..."
7,北陸新幹線,東日本旅客鉄道（旧国鉄）,9999,"LINESTRING (139.012993 36.322956, 139.01283 36..."
8,北陸新幹線,西日本旅客鉄道（旧国鉄）,9999,"LINESTRING (138.24847132 37.08136715, 138.2473..."
9,北海道新幹線,北海道旅客鉄道（旧国鉄）,9999,"LINESTRING (140.64709716 41.90503286, 140.6486..."

(10252, 5)

        line       company endyear     station                           wkt
0        函館線  北海道旅客鉄道（旧国鉄）    9999          旭川    POINT (142.35792 43.76344)
1        函館線  北海道旅客鉄道（旧国鉄）    9999         妹背牛   POINT (141.96665 43.690955)
2        函館線  北海道旅客鉄道（旧国鉄）    9999          伊納    POINT (142.2717 43.763205)
3        函館線  北海道旅客鉄道（旧国鉄）    9999          深川   POINT (142.04145 43.721251)
4        函館線  北海道旅客鉄道（旧国鉄）    9999          近文  POINT (142.325344 43.789326)
...      ...           ...     ...         ...                           ...
10247  三国芦原線        えちぜん鉄道    9999    西春江ハートピア     POINT (136.20622 36.1389)
10248  三国芦原線        えちぜん鉄道    9999  太郎丸エンゼルランド   POINT (136.20569 36.131335)
10249  三国芦原線        えちぜん鉄道    9999     下兵庫こうふく     POINT (136.2026 36.17012)
10250   大手町線          伊予鉄道    9999       大手町駅前   POINT (132.75547 33.840315)
10251    片町線  西日本旅客鉄道（旧国鉄）    9999       寝屋川公園   POINT (135.65335 34.755505)

[10252 rows x 5 columns]

     line       company endyear station                           wkt
3525  山手線  東日本旅客鉄道（旧国鉄）    9999      田端  POINT (139.761575 35.737475)
3526  山手線  東日本旅客鉄道（旧国鉄）    9999      巣鴨    POINT (139.74035 35.73372)
3527  山手線  東日本旅客鉄道（旧国鉄）    9999      駒込  POINT (139.748054 35.736862)
3528  山手線  東日本旅客鉄道（旧国鉄）    9999      池袋   POINT (139.711229 35.73019)
3529  山手線  東日本旅客鉄道（旧国鉄）    9999    高田馬場  POINT (139.703829 35.712904)
3530  山手線  東日本旅客鉄道（旧国鉄）    9999      目白    POINT (139.70628 35.72039)
3531  山手線  東日本旅客鉄道（旧国鉄）    9999    新大久保   POINT (139.700255 35.70093)
3532  山手線  東日本旅客鉄道（旧国鉄）    9999      大塚   POINT (139.72794 35.731785)
3533  山手線  東日本旅客鉄道（旧国鉄）    9999      大崎  POINT (139.728245 35.619945)
3534  山手線  東日本旅客鉄道（旧国鉄）    9999     五反田  POINT (139.723534 35.626306)
3535  山手線  東日本旅客鉄道（旧国鉄）    9999      品川  POINT (139.738845 35.628141)
3536  山手線  東日本旅客鉄道（旧国鉄）    9999      目黒    POINT (139.71583 35.63292)
3537  山手線  東日本旅客鉄道（旧国鉄）    9999     恵比寿   POINT (139.710125 35.64668)
3538  山手線  東日本旅客鉄道（旧国鉄）    9999      渋谷  POINT (139.701645 35.658093)
3539  山手線  東日本旅客鉄道（旧国鉄）    9999      新宿   POINT (139.70014 35.690465)
3540  山手線  東日本旅客鉄道（旧国鉄）    9999     代々木   POINT (139.70221 35.683795)
3541  山手線  東日本旅客鉄道（旧国鉄）    9999      原宿  POINT (139.702692 35.671319)
6575  山手線           神戸市    9999     県庁前  POINT (135.183967 34.690988)
6576  山手線           神戸市    9999      上沢  POINT (135.158775 34.673505)
6577  山手線           神戸市    9999    湊川公園   POINT (135.166625 34.67881)
6578  山手線           神戸市    9999     大倉山    POINT (135.174675 34.6847)
6579  山手線           神戸市    9999      三宮  POINT (135.192415 34.693885)
6580  山手線           神戸市    9999      長田    POINT (135.1513 34.668395)
6581  山手線           神戸市    9999     新神戸   POINT (135.19566 34.704685)
6582  山手線           神戸市    9999     新長田  POINT (135.145655 34.658315)

(10648, 6)

,pref,kyoku,seirei_gun,name,code,wkt
0,北海道,石狩振興局,石狩郡,新篠津村,01304,"POLYGON ((141.58046528 43.15777695000001, 141...."
1,北海道,後志総合振興局,島牧郡,島牧村,01391,"POLYGON ((140 42.58072875000001, 139.99988639 ..."
2,北海道,後志総合振興局,島牧郡,島牧村,01391,"POLYGON ((139.83869389 42.62451917000001, 139...."
3,北海道,後志総合振興局,島牧郡,島牧村,01391,"POLYGON ((139.83936361 42.62453944000001, 139...."
4,北海道,後志総合振興局,島牧郡,島牧村,01391,"POLYGON ((139.83965708 42.625, 139.83971222 42..."
...,...,...,...,...,...,...
10643,沖縄県,None,宮古郡,多良間村,47375,"POLYGON ((124.70833333 24.67894405, 124.706719..."
10644,沖縄県,None,宮古郡,多良間村,47375,"POLYGON ((124.70737844 24.67669281, 124.707347..."
10645,沖縄県,None,宮古郡,多良間村,47375,"POLYGON ((124.71146516 24.68241487, 124.712274..."
10646,沖縄県,None,宮古郡,多良間村,47375,"POLYGON ((124.72440056 24.66860444, 124.724386..."
10647,沖縄県,None,宮古郡,多良間村,47375,"POLYGON ((124.70499128 24.75, 124.70505027 24...."

,pref,kyoku,seirei_gun,name,code,wkt
2861,東京都,None,None,千代田区,13101,"POLYGON ((139.73149939 35.68149528, 139.731201..."
2862,東京都,None,None,中央区,13102,"POLYGON ((139.75833333 35.65976322, 139.758133..."
2863,東京都,None,None,港区,13103,"POLYGON ((139.71369219 35.65800339, 139.713673..."
2864,東京都,None,None,港区,13103,"POLYGON ((139.75350734 35.62404856000001, 139...."
2865,東京都,None,None,港区,13103,"POLYGON ((139.75618353 35.63691453000001, 139...."
...,...,...,...,...,...,...
8407,東京都,None,小笠原支庁,小笠原村,13421,"POLYGON ((142.15277917 27.68220472, 142.152791..."
8408,東京都,None,小笠原支庁,小笠原村,13421,"POLYGON ((142.15346584 27.68259389, 142.153422..."
8409,東京都,None,小笠原支庁,小笠原村,13421,"POLYGON ((142.15115222 27.68415, 142.15117445 ..."
8410,東京都,None,小笠原支庁,小笠原村,13421,"POLYGON ((142.15756167 27.69165667, 142.157561..."
8411,東京都,None,小笠原支庁,小笠原村,13421,"POLYGON ((142.15196528 27.68373944, 142.151971..."

In [7]:
print(railways3.wkt.str.len().max())
print(stations3.wkt.str.len().max())
print(cities3.wkt.str.len().max())

122435
32
1293085

In [8]:
# load to teradata
from sqlalchemy import create_engine
import teradataml as tdml
from teradataml import create_context, remove_context

engine = create_engine(constr)
context = create_context(tdsqlengine=engine)

In [60]:
q = """
CREATE MULTISET TABLE railways_tmp
  ,NO FALLBACK
  ,NO BEFORE JOURNAL
  ,NO AFTER JOURNAL 
(
   line     VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC
  ,company  VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC
  ,endyear  INTEGER
  ,wkt      CLOB
)
"""
%sql DROP TABLE railways_tmp
%sql {q}

%time tdml.copy_to_sql(railways3, "railways_tmp", if_exists="append")

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
19 rows affected.
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
0 rows affected.
CPU times: user 37.4 ms, sys: 28.5 ms, total: 65.9 ms
Wall time: 16.4 s

In [9]:
q = """
CREATE MULTISET TABLE stations_tmp
  ,NO FALLBACK
  ,NO BEFORE JOURNAL
  ,NO AFTER JOURNAL 
(
   line     VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC
  ,company  VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC
  ,endyear  INTEGER
  ,station  VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC  
  ,wkt      CLOB
)
"""
%sql DROP TABLE stations_tmp
%sql {q}

%time tdml.copy_to_sql(stations3, "stations_tmp", if_exists="append")

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
25 rows affected.
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
0 rows affected.
CPU times: user 194 ms, sys: 45.2 ms, total: 239 ms
Wall time: 9.45 s

In [67]:
q = """
CREATE MULTISET TABLE cities_tmp
  ,NO FALLBACK
  ,NO BEFORE JOURNAL
  ,NO AFTER JOURNAL 
(
   pref       VARCHAR(5)  CHARACTER SET UNICODE NOT CASESPECIFIC
  ,kyoku      VARCHAR(20) CHARACTER SET UNICODE NOT CASESPECIFIC
  ,seirei_gun VARCHAR(10) CHARACTER SET UNICODE NOT CASESPECIFIC
  ,name       VARCHAR(10) CHARACTER SET UNICODE NOT CASESPECIFIC
  ,code       VARCHAR(5)  CHARACTER SET LATIN NOT CASESPECIFIC  
  ,wkt        CLOB
)
"""
%sql DROP TABLE cities_tmp
%sql {q}

#%time tdml.copy_to_sql(cities3, "cities_tmp", if_exists="append")  # gets not-enough-spool error
chunksize = 1000
i = 0
while i < len(cities3):
  i2 = min(len(cities3), i + chunksize)
  print("Loading {} to {}".format(i, i2))
  %time tdml.copy_to_sql(cities3.loc[i:i2], "cities_tmp", if_exists="append")
  i = i2

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
21 rows affected.
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
0 rows affected.
Loading 0 to 1000
CPU times: user 232 ms, sys: 263 ms, total: 496 ms
Wall time: 3min 49s
Loading 1000 to 2000
CPU times: user 295 ms, sys: 385 ms, total: 681 ms
Wall time: 3min 15s
Loading 2000 to 3000
CPU times: user 180 ms, sys: 200 ms, total: 380 ms
Wall time: 3min 30s
Loading 3000 to 4000
CPU times: user 392 ms, sys: 545 ms, total: 936 ms
Wall time: 3min 13s
Loading 4000 to 5000
CPU times: user 229 ms, sys: 277 ms, total: 507 ms
Wall time: 3min 14s
Loading 5000 to 6000
CPU times: user 160 ms, sys: 171 ms, total: 331 ms
Wall time: 3min 13s
Loading 6000 to 7000
CPU times: user 43.8 ms, sys: 24.1 ms, total: 67.9 ms
Wall time: 12.9 s
Loading 7000 to 8000
CPU times: user 259 ms, sys: 321 ms, total: 580 ms
Wall time: 3min 14s
Loading 8000 to 9000
CPU times: user 331 ms, sys: 431 ms, total: 761 ms
Wall time: 3min 34s
Loading 9000 to 10000
CPU times: user 247 ms, sys: 315 ms, total: 562 ms
Wall time: 3min 26s
Loading 10000 to 10648
CPU times: user 256 ms, sys: 339 ms, total: 594 ms
Wall time: 2min 10s

In [44]:
# 長いWKTがきちんとCLOBデータに入っていることを確認
print(railways3.wkt.str.len().max())
x = %sql SELECT max(character_length(wkt)) FROM railways_tmp
display(x)

print(stations3.wkt.str.len().max())
x = %sql SELECT max(character_length(wkt)) FROM stations_tmp
display(x)

print(cities3.wkt.str.len().max())
x = %sql SELECT max(character_length(wkt)) FROM cities_tmp
display(x)

122435
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

      wkt
0  122435

32
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

   wkt
0   32

1293085
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

       wkt
0  1293085

In [24]:
remove_context()

True

In [47]:
# make geometry data

q = """
CREATE MULTISET TABLE railways
  ,NO FALLBACK
  ,NO BEFORE JOURNAL
  ,NO AFTER JOURNAL 
AS (
SELECT
  line, company, endyear,
  cast(wkt AS ST_Geometry) AS geom
FROM
  railways_tmp
)
WITH DATA
"""

%sql DROP TABLE railways
%time %sql {q}
%time %sql CREATE INDEX (geom) ON railways

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
25 rows affected.
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
0 rows affected.
CPU times: user 4.59 ms, sys: 1.19 ms, total: 5.78 ms
Wall time: 363 ms
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
CPU times: user 4.5 ms, sys: 1.13 ms, total: 5.63 ms
Wall time: 292 ms

Empty DataFrame
Columns: []
Index: []

In [116]:
# show DDL
x = %sql SHOW TABLE railways
print(x.values[0,0].replace("\r", "\n"))

x = %sql SELECT count(*) FROM railways
print(x.values[0,0], "rows")

%sql SELECT TOP 3 * from railways

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
CREATE MULTISET TABLE KM255052.railways ,FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO,
     MAP = TD_MAP1
     (
      line VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC,
      company VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC,
      endyear INTEGER,
      geom SYSUDTLIB.ST_GEOMETRY(16776192) INLINE LENGTH 9920)
PRIMARY INDEX ( line )
INDEX ( geom );
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
10 rows
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
3 rows affected.

,line,company,endyear,geom
0,北海道新幹線,北海道旅客鉄道（旧国鉄）,9999,"LINESTRING (140.647097159999987 41.90503286,14..."
1,北陸新幹線,東日本旅客鉄道（旧国鉄）,9999,"LINESTRING (138.19025 36.64375,138.19073341999..."
2,東北新幹線,東日本旅客鉄道（旧国鉄）,9999,"LINESTRING (139.768108 35.681098,139.76807 35...."

In [50]:
q = """
CREATE MULTISET TABLE stations
  ,NO FALLBACK
  ,NO BEFORE JOURNAL
  ,NO AFTER JOURNAL 
AS (
SELECT
  station,
  line, company, endyear,
  cast(wkt AS ST_Geometry) AS geom
FROM
  stations_tmp
)
WITH DATA
"""

%sql DROP TABLE stations
%time %sql {q}
%time %sql CREATE INDEX (geom) ON stations

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
22 rows affected.
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
0 rows affected.
CPU times: user 4.97 ms, sys: 1.03 ms, total: 6 ms
Wall time: 699 ms
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
CPU times: user 4.09 ms, sys: 1.04 ms, total: 5.13 ms
Wall time: 418 ms

Empty DataFrame
Columns: []
Index: []

In [117]:
# show DDL
x = %sql SHOW TABLE stations
print(x.values[0,0].replace("\r", "\n"))

x = %sql SELECT count(*) FROM stations
print(x.values[0,0], "rows")

%sql SELECT TOP 3 * from stations

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
CREATE MULTISET TABLE KM255052.stations ,FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO,
     MAP = TD_MAP1
     (
      station VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC,
      line VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC,
      company VARCHAR(50) CHARACTER SET UNICODE NOT CASESPECIFIC,
      endyear INTEGER,
      geom SYSUDTLIB.ST_GEOMETRY(16776192) INLINE LENGTH 9920)
PRIMARY INDEX ( station )
INDEX ( geom );
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
10252 rows
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
3 rows affected.

  station line       company  endyear                          geom
0      小林  今津線          阪急電鉄     9999   POINT (135.352335 34.78938)
1      小林  成田線  東日本旅客鉄道（旧国鉄）     9999  POINT (140.193108 35.830751)
2     上総湊  内房線  東日本旅客鉄道（旧国鉄）     9999   POINT (139.870995 35.22183)

In [54]:
q = """
CREATE MULTISET TABLE cities
  ,NO FALLBACK
  ,NO BEFORE JOURNAL
  ,NO AFTER JOURNAL 
AS (
SELECT
  code,
  pref, kyoku, seirei_gun, name, 
  cast(wkt AS ST_Geometry) AS geom
FROM
  cities_tmp
)
WITH DATA
"""

%sql DROP TABLE cities
%time %sql {q}
%time %sql CREATE INDEX (geom) ON cities

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
23 rows affected.
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
0 rows affected.
CPU times: user 5.27 ms, sys: 1.18 ms, total: 6.44 ms
Wall time: 3.24 s
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
CPU times: user 4.49 ms, sys: 1.29 ms, total: 5.78 ms
Wall time: 338 ms

Empty DataFrame
Columns: []
Index: []

In [118]:
# show DDL
x = %sql SHOW TABLE cities
print(x.values[0,0].replace("\r", "\n"))

x = %sql SELECT count(*) FROM cities
print(x.values[0,0], "rows")

%sql SELECT top 3 * FROM cities

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
CREATE MULTISET TABLE KM255052.cities ,FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO,
     MAP = TD_MAP1
     (
      code VARCHAR(5) CHARACTER SET LATIN NOT CASESPECIFIC,
      pref VARCHAR(5) CHARACTER SET UNICODE NOT CASESPECIFIC,
      kyoku VARCHAR(20) CHARACTER SET UNICODE NOT CASESPECIFIC,
      seirei_gun VARCHAR(10) CHARACTER SET UNICODE NOT CASESPECIFIC,
      name VARCHAR(10) CHARACTER SET UNICODE NOT CASESPECIFIC,
      geom SYSUDTLIB.ST_GEOMETRY(16776192) INLINE LENGTH 9920)
PRIMARY INDEX ( code )
INDEX ( geom );
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.
10658 rows
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
3 rows affected.

,code,pref,kyoku,seirei_gun,name,geom
0,19425,山梨県,None,南都留郡,山中湖村,"POLYGON ((138.86666667 35.38680474,138.8665422..."
1,43432,熊本県,None,阿蘇郡,西原村,"POLYGON ((130.87374162 32.7999901,130.87361322..."
2,29452,奈良県,None,吉野郡,川上村,"POLYGON ((136.0 34.23054613,135.99932834 34.23..."

In [11]:
# 長いWKTが変換後も保持されていることを確認
# 長さは変わっているが、trancateはされていない様子
x = %sql SELECT max(character_length(wkt)) FROM railways_tmp
display(x)
x = %sql SELECT max(character_length(cast(geom AS CLOB))) FROM railways
display(x)

x = %sql SELECT max(character_length(wkt)) FROM stations_tmp
display(x)
x = %sql SELECT max(character_length(cast(geom AS CLOB))) FROM stations
display(x)

x = %sql SELECT max(character_length(wkt)) FROM cities_tmp
display(x)
x = %sql SELECT max(character_length(cast(geom AS CLOB))) FROM cities
display(x)

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

      wkt
0  122435

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

     geom
0  116249

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

   wkt
0   32

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

   geom
0    39

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

       wkt
0  1293085

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

      geom
0  1298588

In [44]:
import re
import pandas as pd

# WKTの変化をみる
x = %sql SELECT line, company, cast(geom AS CLOB) AS wkt2 FROM railways
y = %sql SELECT line, company, wkt FROM railways_tmp

z = pd.merge(x, y)
display(z.head())

# 例を表示
# -> コンマ後のスペースや、実数の精度がやや変化しているらしい
print(z.wkt[1][:100])
print(z.wkt2[1][:100])

# コンマの数で比べてみる
# -> line, companyの重複がある点を除けば完全一致
a = [len(re.sub(r"[^,]", "", w)) for w in z.wkt]
b = [len(re.sub(r"[^,]", "", w)) for w in z.wkt2]
pd.DataFrame({"line":z.line, "company":z.company, "a":a, "b":b})

# 結論：意図通りにGeometryテーブルが作られているように見える

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
10 rows affected.
 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
10 rows affected.

,line,company,wkt2,wkt
0,山手線,東日本旅客鉄道（旧国鉄）,"LINESTRING (139.738845 35.628141,139.738896 35...","LINESTRING (139.738845 35.628141, 139.738896 3..."
1,北海道新幹線,北海道旅客鉄道（旧国鉄）,"LINESTRING (140.647097159999987 41.90503286,14...","LINESTRING (140.64709716 41.90503286, 140.6486..."
2,九州新幹線,九州旅客鉄道（旧国鉄）,"LINESTRING (130.421175 33.589575,130.42108 33....","LINESTRING (130.421175 33.589575, 130.42108 33..."
3,上越新幹線,東日本旅客鉄道（旧国鉄）,"LINESTRING (139.061745 37.912005,139.05937 37....","LINESTRING (139.061745 37.912005, 139.05937 37..."
4,東海道新幹線,東海旅客鉄道（旧国鉄）,"LINESTRING (135.500035 34.73368,135.50225 34.7...","LINESTRING (135.500035 34.73368, 135.50225 34...."

LINESTRING (140.64709716 41.90503286, 140.64868457 41.90462335, 140.65020234 41.9042318, 140.6515111
LINESTRING (140.647097159999987 41.90503286,140.64868457 41.90462335,140.65020234 41.9042318,140.651

      line       company     a     b
0      山手線  東日本旅客鉄道（旧国鉄）   264   264
1   北海道新幹線  北海道旅客鉄道（旧国鉄）   869   869
2    九州新幹線   九州旅客鉄道（旧国鉄）  1074  1074
3    上越新幹線  東日本旅客鉄道（旧国鉄）  2755  2755
4   東海道新幹線   東海旅客鉄道（旧国鉄）  6186  6186
5    北陸新幹線  東日本旅客鉄道（旧国鉄）   140   140
6    北陸新幹線  東日本旅客鉄道（旧国鉄）  1123   140
7    北陸新幹線  東日本旅客鉄道（旧国鉄）   140  1123
8    北陸新幹線  東日本旅客鉄道（旧国鉄）  1123  1123
9    東北新幹線  東日本旅客鉄道（旧国鉄）  5359  5359
10   山陽新幹線  西日本旅客鉄道（旧国鉄）  4405  4405
11   北陸新幹線  西日本旅客鉄道（旧国鉄）   322   322

In [80]:
# 日本最北端、最南端の鉄道駅はどこ？
q = """
SELECT
  station, line, company
FROM
  stations
WHERE
  geom.ST_Y() = (SELECT min(geom.ST_Y()) FROM stations) OR
  geom.ST_Y() = (SELECT max(geom.ST_Y()) FROM stations)
"""

%sql {q}

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
2 rows affected.

  station        line       company
0      稚内         宗谷線  北海道旅客鉄道（旧国鉄）
1      赤嶺  沖縄都市モノレール線     沖縄都市モノレール

In [81]:
# 東京２３区のうち、山手線の路線が通っているのはどこ？
q = """
SELECT
  c.pref, c.name
FROM
  cities AS c
INNER JOIN
  railways AS r
ON
  c.geom.ST_INTERSECTS(r.geom) = 1
WHERE
  r.line = '山手線' AND r.company LIKE '%旧国鉄%'
"""

%sql {q}

# なんかちょっと足りない・・・？ 中央区とか

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
8 rows affected.

  pref name
0  東京都  渋谷区
1  東京都  新宿区
2  東京都  品川区
3  東京都  豊島区
4  東京都  文京区
5  東京都   北区
6  東京都   港区
7  東京都  目黒区

In [95]:
from shapely import wkt
wkt.loads(railways3.wkt[railways3.line=='山手線'].item())

In [97]:
# 山手線の駅はそれぞれどこの区にある？
q = """
SELECT
  s.station, c.name AS ward
FROM
  cities AS c
INNER JOIN
  stations AS s
ON
  s.geom.ST_WITHIN(c.geom) = 1
WHERE
  s.line = '山手線' AND s.company LIKE '%旧国鉄%'
"""

%sql {q}

# 駅もちょっと足りないが・・・

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
17 rows affected.

   station ward
0       大崎  品川区
1       目黒  品川区
2       品川   港区
3     新大久保  新宿区
4      恵比寿  渋谷区
5       目白  豊島区
6       巣鴨  豊島区
7       池袋  豊島区
8       新宿  新宿区
9       田端   北区
10      渋谷  渋谷区
11      原宿  渋谷区
12      駒込  豊島区
13     代々木  渋谷区
14      大塚  豊島区
15    高田馬場  新宿区
16     五反田  品川区

In [108]:
# 村にある新幹線駅があります。それはどこ？

q = """
SELECT
  s.line, s.station, c.pref, c.seirei_gun, c.name
FROM
  cities AS c
INNER JOIN
  stations AS s
ON
  s.geom.ST_WITHIN(c.geom) = 1
WHERE
  right(c.name, 1) = '村'
  AND s.line LIKE '%新幹線%'
"""

%sql {q}

 * teradatasql://km255052:***@tdprd2.td.teradata.com/?logmech=LDAP
1 rows affected.

    line station pref seirei_gun name
0  東北新幹線     新白河  福島県       西白河郡  西郷村